<h1 class="mt-5">New book</h1>
        
<%= form_with model: new_book, url: books_path(new_book.id), method: :post do |f| %>
            
    <label>Title</label><br>
    <%= f.text_field :title, class: 'mb-3 col-12' %><br>
            
    <label>Opinion</label><br>
    <%= f.text_area :body, class: 'mb-3 col-12' %><br>
            
    <%= f.submit 'Create Book', class: 'btn btn-success btn-block col-9 mx-auto' %>
        
<% end %>
