<body>
    <h1>Books</h1>
    
    <table>
        <thead>
            <tr>
                <th colspan="1"></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
        </thead>
        <tbody>
            <% @books.each do |book| %>
                <tr>
                    <td><%= image_tag 'no_image', size: "50×50" %></td>
                    <td><%= book.title %></td>
                    <td><%= book.body %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</body>

