<h1>Welcome to Bookers!!</h1>

<p>In Bookers,</p><br>
<p>you can share and exchange your opinions, inpressions, and emotions</p><br>
<p>about various books!</p>

<%= link_to 'Log in', new_user_session_path %><br>

<%= link_to 'Sign up', new_user_registration_path %>